<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=ZVxQBFByXwIR6q06AXIHvxOeIRKMkO1F"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.css">
		<link rel="stylesheet" href="css/index.css">
	</head>

	<body>
		<div id="box" v-cloak="">
			<div style="min-height: 61px;line-height: 61px;padding:0 40px;">
				<div style="max-width: 1189px;min-height: 61px;margin:auto;">
					<div style="float: left;width: 344px;height: 41px;padding:10px 0;">
						<img src="https://ccdn.goodq.top/caches/40c05a76d970c388d38b924930a6f580/aHR0cHM6Ly81N2E3ZTZhYWYyZjc4LnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTcvMDYvYTNkMjAyZDQ0M2I5NzNiYThiYjkyNGUzYWU3N2UzYjYucG5n.png" style="width: 206px;height: 34px;">
					</div>
					<div style="float: right;">
						<a href="#/" class="text">首页</a>
						<a href="#/no2" class="text">产品系列</a>
						<a href="#/no3" class="text">新闻中心</a>
						<a href="#/no4" class="text">加入我们</a>
						<a href="#/no5" class="text">联系我们</a>
					</div>
				</div>
			</div>
			<div style="min-height: 500px;">
				<router-view></router-view>
			</div>
			<div>
				<div>
					<div style="min-height: 117px;padding-top: 20px;">
						<div style="min-height: 171px;max-width: 1190px;margin:auto;padding:0 40px;">
							<div style="min-height: 131px;margin-bottom: 20px;padding-top:20px;">
								<div slot="for" style="width: 297px;height: 125px;padding:0 5px;float: left;">
									<p style="font-size: 15px;color: #393939;padding-bottom: 24px;"><strong>关于我们</strong></p>
									<p style="font-size: 12px;color: #a9a9a9;width: 252px;height: 67px;line-height: 24px;">可视化图文内容编辑让网站制作和维护成为一件轻松的事。普通用户还是专业制作人员都能使用起飞页设计出最具专业水准的网站。</p>
								</div>
								<div slot="for" style="width: 297px;height: 125px;padding:0 5px;float: left;">
									<p style="font-size: 15px;color: #393939;padding-bottom: 24px;"><strong>联系我们</strong></p>
									<p style="font-size: 13px;color: #a9a9a9;padding-bottom: 10px;">咨询电话 : 4000-000-100</p>
									<p style="font-size: 13px;color: #a9a9a9;padding-bottom: 10px;">商务合作 : abc@abcde.com</p>
									<p style="font-size: 13px;color: #a9a9a9;">联系我们 : abcd@abcde.com</p>
								</div>
								<div slot="for" style="width: 297px;height: 125px;padding:0 5px;float: left;">
									<p style="font-size: 15px;color: #393939;padding-bottom: 24px;"><strong>帮助与支持</strong></p>
									<p style="font-size: 12px;color: #a9a9a9;padding-bottom: 10px;">帮助中心</p>
									<p style="font-size: 12px;color: #a9a9a9;padding-bottom: 10px;">服务条款</p>
									<p style="font-size: 12px;color: #a9a9a9;">常见问题</p>
								</div>
								<div slot="for" style="width: 259px;height: 125px;padding:0 5px;float: left;">
									<p style="font-size: 15px;color: #393939;padding-bottom: 24px;"><strong>关注我们</strong></p>
									<img src="https://ccdn.goodq.top/caches/40c05a76d970c388d38b924930a6f580/aHR0cDovLzU3YTdlNmFhZjJmNzgudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxNi8wOS84ZjM0YTQ3OWZiZjExZWE5NzUwMmI2ZWUyYWIwODJhNS5qcGc_p_p100_p_2FYXR0YWNobWVudF9pZD0xMDg3Mw_p_p100_p_3D_p_p100_p_3D.jpg" style="width: 76px;height: 76px;">
								</div>
							</div>
						</div>
					</div>
					<!--<div style="height: 30px;background:#ddd;padding-top: 15px;line-height: 30px;">
						<p style="font-size: 12px;color: #080808;text-align: center;">&nbsp;版权所有 有限公司©2020&nbsp; &nbsp;地址：苏州市工业园区金鸡湖大道99号 &nbsp;&nbsp;&nbsp; 苏ICP备0001000号</p>
					</div>-->
				</div>
			</div>
		</div>
		<template id="no1">
			<div style="position: static;">
				<div style="margin:0 40px;min-height: 810px;background:#f0f0f0;max-width: 1429px;">
					<div style="min-height: 86px;padding-top: 71px;text-align: center;">
						<p style="font-size: 20px;color: #c6c6c6;padding-bottom: 5px;"><strong>主推产品</strong></p>
						<p style="font-size: 12px;color: #bfbfbf;padding-bottom: 40px;">PRODUCT</p>
						<div style="width: 30px;height: 0.5px;display: block;background:#E30083;margin:auto;"></div>
					</div>
					<div style="min-height: 400px;max-width: 1429px;">
						<div class="swiper-container">
							<div class="swiper-wrapper one">
								<div class="swiper-slide aa">
									<img src="https://ccdn.goodq.top/caches/40c05a76d970c388d38b924930a6f580/aHR0cHM6Ly81N2E3ZTZhYWYyZjc4LnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTYvMDkvODBkMjY5NjYzNDJmNTM1ZjdkYmEwMjY2OTNmMmQ5ZjcucG5n.png" style="width: 427px;height: 392px;">
								</div>
								<div class="swiper-slide aa">
									<img src="https://ccdn.goodq.top/caches/40c05a76d970c388d38b924930a6f580/aHR0cHM6Ly81N2E3ZTZhYWYyZjc4LnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTYvMDkvNzY5MDExMmQ0MjIzN2Y5YTg0OWVjNjc0N2NmOGMxYWYucG5n.png" style="width: 427px;height: 392px;">
								</div>
								<div class="swiper-slide aa">
									<img src="https://ccdn.goodq.top/caches/40c05a76d970c388d38b924930a6f580/aHR0cHM6Ly81N2E3ZTZhYWYyZjc4LnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTYvMDkvZmVkNjAyMDAyZTZiNjRkYjVhZDg0MmEwN2U5Yjg5ODYucG5n.png" style="width: 427px;height: 392px;">
								</div>
							</div>
							<!-- Add Pagination -->
							<div class="swiper-pagination"></div>
						</div>
					</div>
					<div style="text-align: center;padding-top: 20px;">
						<span style="font-size: 68px;">Um</span>
						<span style="font-size: 26px;">360</span>
					</div>
					<div style="font-size: 16px;color: #393939;text-align: center;"><strong>精细快速低剂量成像，高效安全扫描体验</strong></div>
				</div>
				<div class="box-2" style="width: 60%;height: 181px;background: #FFFFFF; position: relative;left: 300px;top: -90px; box-shadow:10px 0px 10px -10px #ccc, -10px 0px 10px -10px #ccc;">
					<div class="boo">
						<div id="box-Q" class="box-1">
							<a href=" " style="font-size: 36px;">12000+</a>
							<a href="#" style="font-size: 12px; display: block;">成功案例</a>
						</div>
					</div>
					<div class="boo">
						<div id="box-W" class="box-1">
							<a href="#" style="font-size: 36px;">010+</a>
							<a href="#" style="font-size: 12px; display: block;">解决方案</a>
						</div>
					</div>
					<div class="boo">
						<div id="box-E" class="box-1">
							<a href="#" style="font-size: 36px;">200+</a>
							<a href="#" style="font-size: 12px; display: block;">合作伙伴</a>
						</div>
					</div>
					<div class="boo" style="border: none;">
						<div id="box-R" class="box-1">
							<a href="#" style="font-size: 36px;">050</a>
							<a href="#" style="font-size: 12px; display: block;">技术专利</a>
						</div>
					</div>
				</div>
				<div slot="fors" style="min-height: 121px;max-width: 1024px;margin:auto;text-align: center;">
					<p class="nex"><strong>NEWS</strong></p>
					<div style="margin: auto;height: 28px;text-align: center;">
						<div style="width: 85px;height: 1px;background: #ededed;margin-right: 20px;display:inline-block;"></div>
						<div style="font-size: 22px;color: #333;position: relative;top: 4px;display: inline-block;">产品系列</div>
						<div style="width: 85px;height: 1px;background: #ededed;margin-left: 20px;display: inline-block;"></div>
					</div>
				</div>
				<div style="min-height: 344px;padding-top: 20px;margin-top: 24px;margin-bottom: 45px;">
					<div style="max-width: 1220px;min-height: 344px;padding:0 45px;margin:auto;">
						<div slot="title" class="dun">
							<p class="yi">医疗PPP有望成后起之秀 概念股早盘活跃</p>
							<p class="xian"></p>
							<p style="font-size: 13px;color: #adadad;padding-top: 25px;padding-bottom: 40px;line-height: 25px;">当今最领先的响应式自助建站平台，我们的流线式网页布局设计方案和可视化图文内容编辑模式让网站制作和维护成为一件轻松惬意的事。无论您是普通互联网...</p>
							<a href="" style="padding:5px 8px;border:solid 1px #d1d1d1;font-size: 13px;color: #d1d1d1;">→</a>
						</div>
						<div slot="title" class="dun">
							<p class="yi">国产高端医疗设备凭高性价比应对“GPS”垄断局面</p>
							<p class="xian"></p>
							<p style="font-size: 13px;color: #adadad;padding-top: 25px;padding-bottom: 40px;line-height: 25px;">当今最领先的响应式自助建站平台，我们的流线式网页布局设计方案和可视化图文内容编辑模式让网站制作和维护成为一件轻松惬意的事。无论您是普通互联网...</p>
							<a href="" style="padding:5px 8px;border:solid 1px #d1d1d1;font-size: 13px;color: #d1d1d1;">→</a>
						</div>
						<div slot="title" class="dun">
							<p class="yi">医疗器械国产化命脉：“供应商”转型“合作伙伴”</p>
							<p class="xian"></p>
							<p style="font-size: 13px;color: #adadad;padding-top: 25px;padding-bottom: 40px;line-height: 25px;">当今最领先的响应式自助建站平台，我们的流线式网页布局设计方案和可视化图文内容编辑模式让网站制作和维护成为一件轻松惬意的事。无论您是普通互联网...</p>
							<a href="" style="padding:5px 8px;border:solid 1px #d1d1d1;font-size: 13px;color: #d1d1d1;">→</a>
						</div>
					</div>
				</div>
				<div slot="fors" style="min-height: 121px;max-width: 1024px;margin:auto;text-align: center;">
					<p class="nex"><strong>PRODUCT</strong></p>
					<div style="margin: auto;height: 28px;text-align: center;">
						<div style="width: 85px;height: 1px;background: #ededed;margin-right: 20px;display:inline-block;"></div>
						<div style="font-size: 22px;color: #333;position: relative;top: 4px;display: inline-block;">产品系列</div>
						<div style="width: 85px;height: 1px;background: #ededed;margin-left: 20px;display: inline-block;"></div>
					</div>
				</div>
				<div style="min-height: 550px;padding-top: 60px;" class="witt">
					<div style="max-width: 1186px;min-height: 550px;margin:auto;" class="wit">
					    <div style="max-width: 1186px;min-height: 550px;">
						<div class="imge">
							<img src="https://ccdn.goodq.top/caches/40c05a76d970c388d38b924930a6f580/aHR0cHM6Ly81N2E3ZTZhYWYyZjc4LnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTcvMDYvMDdiNzYwNTRjMjQwOWZmN2YwM2MxZTFlMjlmOTk4YTYtMjMweDIzMC5wbmc_p_p100_p_3D.png" style="width: 230px;height: 230px;margin-top: 100px;margin-left: 30px;">
							<p style="font-size: 18px;color: #fff;text-align: center;">THE PROJECT</p>
							<p style="font-size: 18px;color: #fff;text-align: center;">NAME 01</p>
						</div>
						<div class="imge">
							<img src="https://ccdn.goodq.top/caches/40c05a76d970c388d38b924930a6f580/aHR0cHM6Ly81N2E3ZTZhYWYyZjc4LnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTcvMDYvOTAxNzllOTM4ZmFhMTgzZjhiMDFjODgwZjAzNzk3NjctMjMweDIzMC5wbmc_p_p100_p_3D.png" style="width: 230px;height: 230px;margin-top: 100px;margin-left: 30px;">
							<p style="font-size: 18px;color: #fff;text-align: center;">THE PROJECT</p>
							<p style="font-size: 18px;color: #fff;text-align: center;">NAME 02</p>
						</div>
						<div class="imge">
							<img src="https://ccdn.goodq.top/caches/40c05a76d970c388d38b924930a6f580/aHR0cHM6Ly81N2E3ZTZhYWYyZjc4LnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTcvMDYvM2JlMmUyNDFkNTM4NjBmZmRkNzMzNjNiOWJiMjdjNTMtMjMweDIzMC5wbmc_p_p100_p_3D.png" style="width: 230px;height: 230px;margin-top: 100px;margin-left: 30px;">
							<p style="font-size: 18px;color: #fff;text-align: center;">THE PROJECT</p>
							<p style="font-size: 18px;color: #fff;text-align: center;">NAME 03</p>
						</div>
						<div class="imge">
							<img src="https://ccdn.goodq.top/caches/40c05a76d970c388d38b924930a6f580/aHR0cHM6Ly81N2E3ZTZhYWYyZjc4LnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTcvMDcvZjZmODI0YzZlNGJlZWQ1ZDI0ZmRlZGRlZDBkZmY2ZDktMjMweDIzMC5wbmc_p_p100_p_3D.png" style="width: 230px;height: 230px;margin-top: 100px;margin-left: 30px;">
							<p style="font-size: 18px;color: #fff;text-align: center;">THE PROJECT</p>
							<p style="font-size: 18px;color: #fff;text-align: center;">NAME 04</p>
						</div>
						</div>
					</div>
				</div>
			</div>
		</template>
		<template id="no2">
			<div>
				<div style="min-height: 400px;background:#f1f1f1;margin-bottom: 40px;">
					<div style="max-width: 1200px;min-height: 400px;padding:0 40px;margin:auto;">
						<div style="max-width: 590px;min-height: 400px;float: left;">
							<div class="swiper-container">
								<div class="swiper-wrapper two">
									<div class="swiper-slide cc">
										<img src="https://ccdn.goodq.top/caches/40c05a76d970c388d38b924930a6f580/aHR0cHM6Ly81N2E3ZTZhYWYyZjc4LnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTYvMDkvODBkMjY5NjYzNDJmNTM1ZjdkYmEwMjY2OTNmMmQ5ZjcucG5n.png" style="width: 427px;height: 392px;">
									</div>
									<div class="swiper-slide cc">
										<img src="https://ccdn.goodq.top/caches/40c05a76d970c388d38b924930a6f580/aHR0cHM6Ly81N2E3ZTZhYWYyZjc4LnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTYvMDkvNzY5MDExMmQ0MjIzN2Y5YTg0OWVjNjc0N2NmOGMxYWYucG5n.png" style="width: 427px;height: 392px;">
									</div>
									<div class="swiper-slide cc">
										<img src="https://ccdn.goodq.top/caches/40c05a76d970c388d38b924930a6f580/aHR0cHM6Ly81N2E3ZTZhYWYyZjc4LnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTYvMDkvZmVkNjAyMDAyZTZiNjRkYjVhZDg0MmEwN2U5Yjg5ODYucG5n.png" style="width: 427px;height: 392px;">
									</div>
								</div>

								<div class="swiper-pagination"></div>
							</div>
						</div>
						<div style="width: 580px;min-height: 236px;float: left;padding:0 5px;padding-top:98px;">
							<div style="max-width: 256px;margin:auto;">
								<span style="font-size: 52px;">Um</span>
								<span style="font-size: 28px;">360</span>
							</div>
							<div style="max-width: 256px;margin:auto;font-size: 14px;padding-top: 20px;"><strong>精细快速低剂量成像，高效安全扫描体验</strong></div>
							<div style="max-width: 390px;min-height: 69px;padding:0 100px;margin-top: 40px;">
								<img src="https://ccdn.goodq.top/caches/40c05a76d970c388d38b924930a6f580/aHR0cHM6Ly81N2E3ZTZhYWYyZjc4LnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTcvMDcvOTcxNDE3ZTk3OWE1ZjFiZjNhNjZkZjY1YTM4ZjY5N2UtMzAweDE1MC5wbmc_p_p100_p_3D.png" style="width: 119px;height: 59px;float: left;padding-right: 10px;">
								<img src="https://ccdn.goodq.top/caches/40c05a76d970c388d38b924930a6f580/aHR0cHM6Ly81N2E3ZTZhYWYyZjc4LnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTcvMDcvYzU3ZTYxMjM3OWM0Mzg5MDdlNTFkODNjOThiNmVlMjQtMzAweDE1MC5wbmc_p_p100_p_3D.png" style="width: 119px;height: 59px;float: left;padding-right: 10px;">
								<img src="https://ccdn.goodq.top/caches/40c05a76d970c388d38b924930a6f580/aHR0cHM6Ly81N2E3ZTZhYWYyZjc4LnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTcvMDcvY2M4MmZhNTU4ODJiNGNiYTdlMzk5ZmRkMGIzMjNmNTMtMzAweDE1MC5wbmc_p_p100_p_3D.png" style="width: 119px;height: 59px;float: left;">
							</div>
						</div>
					</div>
				</div>
				<div slot="fors" style="min-height: 123px;max-width: 1024px;margin:auto;text-align: center;padding-top:68px;">
					<p class="nex"><strong>PRODUCT</strong></p>
					<div style="margin: auto;height: 28px;text-align: center;">
						<div style="width: 85px;height: 1px;background: #ededed;margin-right: 20px;display:inline-block;"></div>
						<div style="font-size: 22px;color: #333;position: relative;top: 4px;display: inline-block;">产品系列</div>
						<div style="width: 85px;height: 1px;background: #ededed;margin-left: 20px;display: inline-block;"></div>
					</div>
				</div>
				<div style="width: 1200px; margin: 0 auto;margin-top: 69px;">
					<div style="width: 50%;overflow: hidden;margin: 0 auto;margin-bottom: 20px;">
						<div class="item" v-for="(i,$index) in arr" @click="index=$index" :class="$index==index?'co':''">
							<span href="#" class="it">{{i.text}}</span>
						</div>
					</div>
					<div  style="min-height: 798px;padding:10px 10px 4px 10px;max-width: 1160px;">
						<div v-for="(i,$index) in arr" v-show="index==$index">
							<div v-for="a in i.arrs" class="item-1">
								<img :src="a.img">
								<p style="font-size: 14px;">{{a.name}}</p>
								<span style="font-size: 12px;color: #999;">{{a.item}}</span>
								<div class="item-2"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</template>

		<template id="no3">
			<div style="padding-top: 60px;padding-bottom: 100px;">
				<div class="clearfix" style="width: 1205px;margin: 0 auto;padding: 0 40px;">
					<div style="width: 250px;float: left;height: 117px;border: 1px  solid #e0e0e0;">
						<div style="height: 37px;font-size: 14px;color: #fff;line-height: 37px; border-bottom: 1px solid #e0e0e0;background: #999999;padding-top: 2px;padding-bottom: 2px;padding-left:20px;">全部资讯<i></i></div>
						<div style="height: 37px; line-height: 37px; border-bottom: solid 1px #E0E0E0;padding-left:20px;">
							<a href="#/no3/" class="qi">企业动态</a>
						</div>
						<div style="width: 100%;height: 37px; line-height: 37px;padding-left:20px;">
							<a href="#/no3/no1" class="qi">行业资讯</a>
						</div>

					</div>
					<div style="float: left;margin-left: 43px;">
						<router-view></router-view>
					</div>
				</div>
			</div>
		</template>
		<template id="no4">
			<div>
				<div style="max-width: 1200px;margin:auto;min-height: 2200px;padding:60px 40px 100px 40px;">
					<div style="width: 260px;height: 43px;padding-right: 40px;float: left;">
						<div style="width: 248px;height: 43px;background: #8d9095;line-height: 43px;">
							<a href="" style="color: #fff;font-size: 14px;float: left;padding-left: 30px;">加入我们</a>
							<span></span>
						</div>
					</div>
					<div slot="fort" style="width:828px;min-height:620px;float:right;padding:25px 30px;border:solid 1px #ddd;margin-bottom: 80px;">
						<div style="border-bottom: solid 1px #ddd;margin-bottom: 20px;">
							<p style="font-size: 18px;padding-bottom: 10px;"><strong>区域销售经理</strong></p>
							<p style="font-size: 12px;color: #a9a9a9;padding-bottom: 10px;">发布日期：2016-08-10</p>
						</div>
						<div style="border-bottom: solid 1px #ddd;">
							<div style="height: 49px;margin-bottom: 24px;">
								<div style="float: left;width: 425px;height: 24px;font-size: 15px;line-height: 24px;">公司事业部：<strong>某某公司</strong></div>
								<div style="float: left;width: 401px;height: 24px;font-size: 15px;line-height: 24px;">职位性质：<strong>制造/生产/加工</strong></div>
								<div style="float: left;width: 425px;height: 24px;font-size: 15px;line-height: 24px;">工作地点：<strong>北京</strong></div>
								<div style="float: left;width: 401px;height: 24px;font-size: 15px;line-height: 24px;">招聘人数：<strong>10人</strong></div>
							</div>
							<div style="margin-bottom: 24px;">
								<p style="font-size: 15px;padding-bottom: 5px;">职位概述：</p>
								<p style="font-size: 14px;color: #808080;">负责公司全产品华东区域分销工作。</p>
							</div>
							<div style="margin-bottom: 24px;">
								<p style="font-size: 15px;padding-bottom: 5px;">职位描述：</p>
								<ul style="font-size: 14px;color: #808080;">
									<li>1. 负责指定地区设备的市场推广工作，完成各项销售目标；</li>
									<li>2. 负责完成订单并跟进，确保产品能够及时安装，提高客户满意度；</li>
									<li>3. 参与招投标工作，协调市场、产品、销售、物流和服务部门参与项目后期工作；</li>
									<li>4. 参与区域市场营销活动,了解参与此类活动的客户信息和动态；</li>
									<li>5. 定期拜访客户，收集客户需求信息并形成拜访报告,协调相关部门解决客户提出的问题；</li>
									<li>6. 参加销售培训，完成市场信息的收集和分析，周期性向销售经理汇报总结。</li>
								</ul>
							</div>
							<div style="margin-bottom: 30px;">
								<p style="font-size: 15px;padding-bottom: 5px;">任职条件：</p>
								<ul style="font-size: 14px;color: #808080;">
									<li>1. 理工科相关专业，大学本科以上学历；</li>
									<li>2. 5年以上相关行业销售岗位经验，有大型设备销售经验者优先；</li>
									<li>3. 掌握公司所在的行业动态，了解公司所经营的产品技术特点；</li>
									<li>4. 优秀的沟通与执行能力，良好的客户服务意识，高度的敬业精神；</li>
									<li>5. 熟练使用WORD，EXCEL，POWERPOINT等办公软件，良好的英语应用能力。</li>
								</ul>
							</div>
						</div>
						<button class="btn" onmouseleave="this.style.borderColor='#e30083'; this.style.backgroundColor='#e30083'; this.style.color='#ffffff';" onmouseenter="this.style.backgroundColor='#a72283'; this.style.borderColor='#a72283'; this.style.color='#fff';">申请该职位</button>
					</div>
					<div slot="fort" style="width:828px;min-height:620px;float:right;padding:25px 30px;border:solid 1px #ddd;margin-bottom: 80px;">
						<div style="border-bottom: solid 1px #ddd;margin-bottom: 20px;">
							<p style="font-size: 18px;padding-bottom: 10px;"><strong>区域销售经理</strong></p>
							<p style="font-size: 12px;color: #a9a9a9;padding-bottom: 10px;">发布日期：2016-08-10</p>
						</div>
						<div style="border-bottom: solid 1px #ddd;">
							<div style="height: 49px;margin-bottom: 24px;">
								<div style="float: left;width: 425px;height: 24px;font-size: 15px;line-height: 24px;">公司事业部：<strong>某某公司</strong></div>
								<div style="float: left;width: 401px;height: 24px;font-size: 15px;line-height: 24px;">职位性质：<strong>制造/生产/加工</strong></div>
								<div style="float: left;width: 425px;height: 24px;font-size: 15px;line-height: 24px;">工作地点：<strong>北京</strong></div>
								<div style="float: left;width: 401px;height: 24px;font-size: 15px;line-height: 24px;">招聘人数：<strong>10人</strong></div>
							</div>
							<div style="margin-bottom: 24px;">
								<p style="font-size: 15px;padding-bottom: 5px;">职位概述：</p>
								<p style="font-size: 14px;color: #808080;">负责公司全产品华东区域分销工作。</p>
							</div>
							<div style="margin-bottom: 24px;">
								<p style="font-size: 15px;padding-bottom: 5px;">职位描述：</p>
								<ul style="font-size: 14px;color: #808080;">
									<li>1. 负责指定地区设备的市场推广工作，完成各项销售目标；</li>
									<li>2. 负责完成订单并跟进，确保产品能够及时安装，提高客户满意度；</li>
									<li>3. 参与招投标工作，协调市场、产品、销售、物流和服务部门参与项目后期工作；</li>
									<li>4. 参与区域市场营销活动,了解参与此类活动的客户信息和动态；</li>
									<li>5. 定期拜访客户，收集客户需求信息并形成拜访报告,协调相关部门解决客户提出的问题；</li>
									<li>6. 参加销售培训，完成市场信息的收集和分析，周期性向销售经理汇报总结。</li>
								</ul>
							</div>
							<div style="margin-bottom: 30px;">
								<p style="font-size: 15px;padding-bottom: 5px;">任职条件：</p>
								<ul style="font-size: 14px;color: #808080;">
									<li>1. 理工科相关专业，大学本科以上学历；</li>
									<li>2. 5年以上相关行业销售岗位经验，有大型设备销售经验者优先；</li>
									<li>3. 掌握公司所在的行业动态，了解公司所经营的产品技术特点；</li>
									<li>4. 优秀的沟通与执行能力，良好的客户服务意识，高度的敬业精神；</li>
									<li>5. 熟练使用WORD，EXCEL，POWERPOINT等办公软件，良好的英语应用能力。</li>
								</ul>
							</div>
						</div>
						<button class="btn" onmouseleave="this.style.borderColor='#e30083'; this.style.backgroundColor='#e30083'; this.style.color='#ffffff';" onmouseenter="this.style.backgroundColor='#a72283'; this.style.borderColor='#a72283'; this.style.color='#fff';">申请该职位</button>
					</div>
					<div slot="fort" style="width:828px;min-height:620px;float:right;padding:25px 30px;border:solid 1px #ddd;margin-bottom: 80px;">
						<div style="border-bottom: solid 1px #ddd;margin-bottom: 20px;">
							<p style="font-size: 18px;padding-bottom: 10px;"><strong>区域销售经理</strong></p>
							<p style="font-size: 12px;color: #a9a9a9;padding-bottom: 10px;">发布日期：2016-08-10</p>
						</div>
						<div style="border-bottom: solid 1px #ddd;">
							<div style="height: 49px;margin-bottom: 24px;">
								<div style="float: left;width: 425px;height: 24px;font-size: 15px;line-height: 24px;">公司事业部：<strong>某某公司</strong></div>
								<div style="float: left;width: 401px;height: 24px;font-size: 15px;line-height: 24px;">职位性质：<strong>制造/生产/加工</strong></div>
								<div style="float: left;width: 425px;height: 24px;font-size: 15px;line-height: 24px;">工作地点：<strong>北京</strong></div>
								<div style="float: left;width: 401px;height: 24px;font-size: 15px;line-height: 24px;">招聘人数：<strong>10人</strong></div>
							</div>
							<div style="margin-bottom: 24px;">
								<p style="font-size: 15px;padding-bottom: 5px;">职位概述：</p>
								<p style="font-size: 14px;color: #808080;">负责公司全产品华东区域分销工作。</p>
							</div>
							<div style="margin-bottom: 24px;">
								<p style="font-size: 15px;padding-bottom: 5px;">职位描述：</p>
								<ul style="font-size: 14px;color: #808080;">
									<li>1. 负责指定地区设备的市场推广工作，完成各项销售目标；</li>
									<li>2. 负责完成订单并跟进，确保产品能够及时安装，提高客户满意度；</li>
									<li>3. 参与招投标工作，协调市场、产品、销售、物流和服务部门参与项目后期工作；</li>
									<li>4. 参与区域市场营销活动,了解参与此类活动的客户信息和动态；</li>
									<li>5. 定期拜访客户，收集客户需求信息并形成拜访报告,协调相关部门解决客户提出的问题；</li>
									<li>6. 参加销售培训，完成市场信息的收集和分析，周期性向销售经理汇报总结。</li>
								</ul>
							</div>
							<div style="margin-bottom: 30px;">
								<p style="font-size: 15px;padding-bottom: 5px;">任职条件：</p>
								<ul style="font-size: 14px;color: #808080;">
									<li>1. 理工科相关专业，大学本科以上学历；</li>
									<li>2. 5年以上相关行业销售岗位经验，有大型设备销售经验者优先；</li>
									<li>3. 掌握公司所在的行业动态，了解公司所经营的产品技术特点；</li>
									<li>4. 优秀的沟通与执行能力，良好的客户服务意识，高度的敬业精神；</li>
									<li>5. 熟练使用WORD，EXCEL，POWERPOINT等办公软件，良好的英语应用能力。</li>
								</ul>
							</div>
						</div>
						<button class="btn" onmouseleave="this.style.borderColor='#e30083'; this.style.backgroundColor='#e30083'; this.style.color='#ffffff';" onmouseenter="this.style.backgroundColor='#a72283'; this.style.borderColor='#a72283'; this.style.color='#fff';">申请该职位</button>
					</div>
				</div>
			</div>
		</template>
		<template id="no5">
			<div>
				<div style="height: 390px;margin-bottom: 80px;">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="https://ccdn.goodq.top/caches/40c05a76d970c388d38b924930a6f580/aHR0cDovLzU3YTdlNmFhZjJmNzgudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxNi8wOS9mOTIyYjdhNDJkNjEwNDQxZWYzMjQ2N2RkNjEwMmZjNi5qcGc_p_p100_p_3D.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="https://ccdn.goodq.top/caches/40c05a76d970c388d38b924930a6f580/aHR0cDovLzU3YTdlNmFhZjJmNzgudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxNi8wOS84YmEwMjNiMTU0YWZlYWQzYWNhMjdlNDgyYzVkYzUyMy5qcGc_p_p100_p_3D.jpg|^|https://ccdn.goodq.top/caches/40c05a76d970c388d38b924930a6f580/aHR0cDovLzU3YTdlNmFhZjJmNzgudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxNi8wOS9mOTIyYjdhNDJkNjEwNDQxZWYzMjQ2N2RkNjEwMmZjNi5qcGc_p_p100_p_3D.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div style="height: 536px;">
					<div style="width: 1200px;height: 380px;margin: 0 auto;">
						<div style="width: 270px;height: 380px;float: left;padding: 0 5px;margin-right: 20px;">
							<div style="height: 37px;font-size: 14px;color: #fff;line-height: 37px; border-bottom: 1px solid #e0e0e0;background: #999999;padding-top: 2px;padding-bottom: 2px;padding-left:20px;">联系我们</div>
							<div style="margin-top: 20px;">
								<p style="height: 25px; font-size: 16px;margin-bottom: 0;">Um生物科技有限公司</p>
								<p style="height: 24px;font-size: 14px;margin-bottom: 20px;color: #a9a9a9;">Um biotechnology Co.,Ltd</p>
								<p style="font-size: 14px;line-height:32px; margin-bottom: 0;color: #808080;">联系电话 : 1000 8000</p>
								<p style="font-size: 14px;line-height:32px;margin-bottom: 0; color: #808080;">销售热线：400 8888 8888</p>
								<p style="font-size: 14px;line-height:32px;margin-bottom: 0; color: #808080;">技术服务：400 6666 6666</p>
								<p style="font-size: 14px;line-height:32px; margin-bottom: 20px;color: #808080;">公司传真：1000 8000</p>
								<p style="font-size: 14px;line-height:32px;margin-bottom: 30px; color: #808080;">苏州市工业园区金鸡湖大道0号某某大厦0室</p>
								<p style="font-size: 24px;">
									<span class="tu1"></span>
									<span class="tu2"></span>
									<span class="tu3"></span>
									<span class="tu4"></span>
									<span class="tu5"></span>
								</p>
							</div>
						</div>
						<div style="width: 890px;height: 380px;float: left;padding: 0 5px;">
							<div>
								<div id="container"></div>
								<div id="allmap"></div>
							</div>
						</div>
		</template>
		<template id="fot">
			<div>
				<div>
					<slot name="for"></slot>
				</div>
			</div>
		</template>
		<template id="fott">
			<div>
				<div>
					<slot name="fors"></slot>
				</div>
				<div>
					<slot name="title"></slot>
				</div>
				<div>
					<slot name="per"></slot>
				</div>
			</div>
		</template>
		<template id="fots">
			<div>
				<div>
					<slot name="fort"></slot>
				</div>
			</div>
		</template>
	</body>
	<script src="vue.js"></script>
	<script src="vue-router.js"></script>
	<script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.js"></script>
	<script type="text/javascript" src="js/index.js"></script>

	<script>
		var swiper = new Swiper('.swiper-container', {
			slidesPerView: 1,
			spaceBetween: 30,
			loop: true,
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},
		});
	</script>

</html>